.carousel-inner {
	width: 130px;
	height: 690px;
}
@media only screen and (min-width: 768px) {
	.carousel-inner .carousel .carousel-item .carousel-item-img {
		width: 400px;
		height:400px;
	}
}

@media only screen and (min-width: 992px) {
	.carousel-inner .carousel .carousel-item .carousel-item-img {
		width: 400px;
		height: 400px;
	}
}

@media only screen and (min-width: 1200px) {
	.carousel-inner .carousel .carousel-item .carousel-item-img {
		width: 400px;
		height:400px;
	}
}